@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Space+Grotesk:wght@400;500&display=swap');

label.required:before {
    position: absolute;
    content: '*';
    right: -8px;
    color: #c00;
}

.card-content{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.card-mod {
    background: linear-gradient(90deg, rgb(166 255 211 / 36%) 0%, rgba(255, 255, 255, 0.7175245098039216) 52%);
    border: 1px solid #e3e6eb;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid #7bffbd;
}

.content-mod {
    display: flex;
    justify-content: space-between;

}
.main-mod {
    width: 75%;
    margin: 1px 40px;
}
.main-mod h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
    color: #333;
}
.main-mod p {
    margin: 5px 0;
    color: #555;
    line-height: 1.6;
    font-size: 14px;
}
.main-mod p strong {
    color: #00005d;
    font-weight: 500;
    font-size: 16px;
}
.info {
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: #7bffbd;
}