        .main{
           /*  background: #bdbdbd1f; */
               background-color: #f5f5f5;
        }
        #ticker01 li span{
            display: block;
            background: #b10505;
            color: #fff;
            padding: 5px;
            width: 30%;
            font-weight: 700;
            text-align: center;
            margin-bottom: 5px;
            font-size: 12px;
        }
        .holder { 
        /* background-color:#fff; */
        overflow:hidden;
        padding:20px;
        border: 1px solid #fff;
        border-radius: 12px;
        box-shadow: 0px 0px 12px 0px #90978c;
        background:linear-gradient(35deg, #528cbe 15%, #0F67B1 50%, #3FA2F6 100%);
        }
        .holder .mask {
        position: relative;
        left: 0px;
        top: 10px;
        height:170px;
        overflow: hidden;
        }
        
        
        .holder ul {
        list-style:none;
        margin:0;
        padding:0;
        position: relative;
        }
        .holder ul li {
        padding: 10px 0px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        line-height: 14px;
        }
        .holder ul li a {
        color:#fff;
        text-decoration:none;
        }
        .holder h5 {
            color: #000;
            text-decoration: none;
            background: #faffaf;
            padding: 5px;
        }
        /* Card Section */
.chartSection .card{
    background: #fff !important;
}
        .estimentBox .cBodyTop{
            padding: 5px 10px;
            border-bottom: 1px solid #fff;
            font-size: 14px;
            font-weight: 700;
        }
        .estimentBox .cBodyTop:nth-child(2){
            border-bottom: unset !important;
        }
        .estimentBox .card-body{
            padding: 0 ;
            text-align: center;
        }
        .card-body .card-title {
            margin-bottom: 0 !important;
        }
        .estimentBox .card{
            border-radius: 12px;
        }
        .projAmount{
            color: #0d14fd;
            font-size: 20px;
            margin-bottom: 0;
            font-weight: 500;
            line-height: 25px;
        }
        .projAmount span{
            color: #ff0000;
        }
        .fiYear select{
            padding-top: 0;
            padding-bottom: 0;
        }
        #fyearId {
            font-size: 18px;
            font-weight: 600;
            color: #0f0e47;
        }
        .estimentBox .card{
            /* background: #CFEFBD; */
            background: linear-gradient(180deg, #00ffff66 0%, #528cbe 100%) !important;
            /*border: 1px solid #00ffff00;*/

        }
        .apexcharts-toolbar{
            display: none;
        }