.main-header {
    position: fixed;
    top: 0;
    right: -5px;
    width: calc(100% - 220px);
    height: 80px;
    padding: 0 5px;
    z-index: 1;
    transition: 0.5s all;
    margin-top: 0px;
}
.home-content {
    display: flex
;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    /* background: #00483e; */
    background: #FFDEC2;
    padding: 10px 10px;
    top: 0;
    left: 0;
    border-radius: 0;
    box-shadow: 2px 4px 8px #00000061;
    transition: 0.5s all;
}
.logo-box {
    padding: 0px 0px 0px 0px;
    position: relative;
    top: 0px;
    border-radius: 50px 0px 0px 50px;
}
.logo-box .img_con {
    position: relative;
    float: left;
    width: 55px;
    height: 59px;
    border-radius: 50%;
    padding: 2px;
    margin-right: 5px;
}
.logo-box .img_con img {
    width: 100%;
    height: 100%;
}
.logo-box .img_con.logo {
    border-radius: 5px;
    width: auto;
    height: 47px;
}
.logo-box .module_text {
    /* border-left: 2px solid #ffffff6b; */
    height: 54px;
    padding: 0 0 0 5px;
}
.logo-box .module_text span {
    font-size: 15px;
    color: #3D3D3D;
    padding: 0;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 1px;
}
.logo-box p {
    border-top: 2px solid #f25e0a;
}
.logo-box .module_text p small {
    font-size: 12px;
    color: #3D3D3D;
    text-shadow: none;
}
.header_right {
    margin: 0;
    padding: 0 5px 0 10px;
    list-style: none;
    margin-left: 10px;
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}
.header_right li {
    overflow: hidden;
    padding: 0 2px;
}
.notificationtop {
    position: relative;
}
.header_right li a {
    color: #000;
    text-decoration: none;
}
.header_right i {
    font-size: 22px;
    color: #ac4a23;
    /* background: #f7faff; */
    /* height: 40px; */
    /* width: 40px; */
    /* border-radius: 50%; */
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
    /* box-shadow: 0px 2px 4px #00000069; */
}
.sidebar_conatiner {
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    height: 100vh;
    transition: 0.5s all;
    z-index: 0;
}
.sidebar_conatiner .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    /* background: #00362f url(../img/parten.png); */
    background: #DF611A url(../img/parten.png);
    /* background-attachment: fixed; */
    background-size: cover;
    padding: 0px 10px 15px;
    border-radius: 0px;
    margin-top: 0px;
    box-shadow: 5px 2px 10px #00000040, -2px 2px 4px #0000002e, -4px 4px 8px #0000001c inset, 4px -4px 8px #0000001c inset;
}
.sidebar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(190deg, rgb(0 32 130 / 79%) -1.1%, rgb(1 70 22) 100.7%); */
    border-radius: 10px;
}
.profile-box {
    list-style: none;
    position: relative;
    border-radius: 15px;
    padding: 10px;
    color: #000;
    margin: 15px 0;
    background: #7E8187;
    width: 100%;
    transition: all ease;
    display: flex
;
    border-bottom: 4px solid #626468;
}
.sidebar>h5 {
    color: #ffffffd9;
    position: relative;
    left: -10px;
    border-bottom: 2px solid #ffffff70;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    padding: 12px 17px 7px;
    background: #00000012;
    width: calc(100% + 20px);
}
#btn_navToggle {
    border: 0px;
    color: #fff;
    background: #f25e0a;
    float: right;
    position: relative;
    top: -7px;
    right: -10px;
    padding: 5px 11px;
    border-radius: 3px;
}
.sidebar .nav-links {
    height: calc(100vh - 169px);
    overflow: auto;
    padding: 0;
}
.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all linear 0.5s;
    padding: 0 0px 4px;
}
.sidebar .nav-links > li {
    line-height: 40px;
    border-bottom: 1px solid #ed722d;
    border-top: 1px solid #b44e15;
}
.sidebar .nav-links li:first-child {
    border-top: 0px;
}
.sidebar .nav-links li a {
    display: flex
;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-links>li>a, .sidebar .nav-links>li>.iocn-link>a {
    width: 100%;
    padding: 6px 5px;
    border-radius: 7px;
}
.sidebar .nav-links li i {
    height: 16px;
    min-width: 15px;
    text-align: center;
    line-height: 16px;
    /* color: var(--color3); */
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    right: 4px;
}
.sidebar .nav-links li a .link_name {
    font-size: 13px;
    font-weight: 500;
    padding-left: 0px;
    color: var(--colorwhite);
    transition: all 0.4s ease;
    letter-spacing: -0.25px;
    line-height: 19px;
    position: relative;
    left: -5px;
}
.sidebar .nav-links li .iocn-link {
    display: flex
;
    align-items: center;
    justify-content: space-between;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff !important;
    background: #cc6124 !important;
    border-color: #dee2e6 #dee2e6 #fff;
}

.table thead {
    font-size: 13px;
    background: #ce6326 !important;
    height: 32px;
}

.table thead tr th {
    font-size: 13px;
    background: #cd6225 !important;
    font-weight: 500;
    height: 32px;
    color: #FFFFFF;
}
.table tr.append-box{
    vertical-align: top;
}
.table-responsive{
    background: #ffdec245;
    padding: 10px 5px;
    border-radius: 0 0 4px 4px;
}
.select2-container .select2-selection--single{
	height:30px !important;
}

.form-control-sm{
	padding: 0.375rem 0.75rem;
}
.select2{
	font-size: 12px !important;
    width: 100% !important;
}
.select2-results__option[aria-selected] {
    cursor: pointer;
    font-size: 12px;
}
.bootstrap-select>.dropdown-toggle{
	border: 1px solid #90909099;
    background: transparent;
    font-size: 12px !important;
    height: 30px;
    line-height: 10px;
    padding: 2px 10px !important;
}
.bootstrap-select .dropdown-toggle:focus{
    outline: none !important;
}
.dropdown-toggle::after {
    border-top: 0.4em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    color: #888888;
}
.bootstrap-select>.dropdown-toggle.show:after{
	rotate:180deg;
}
.select2-results>.select2-results__options .select2-results__option,.select2-selection__rendered{
    text-transform: lowercase;
}
.select2-results>.select2-results__options .select2-results__option::first-letter,.select2-selection__rendered::first-letter {
  	text-transform: uppercase !important;
}
td .btn-info {
    border-bottom: 3px solid #037992 !important;
    background: #0dcaf0;
    border: none;
    color: #ffffff;
    margin: 0;
    border-radius: 5px !important;
    border-right: 3px solid #037992;
    line-height: 10px !important;
}
.bootbox-cancel{
    background: #ff0000 !important;
    border-bottom: 4px solid #cc0808 !important;
}
.alert-success {
    color: #006b39;
    background-color: #95e9888c !important;
    border-color: #badbcc;
}
.btn:hover {
    color: #d6dbe0;
}
.dataTables_length label,.dataTables_filter label{
    display: flex !important;
    align-items: center;
    gap: 10px;
}
